.table {
  background-color: #c6c9cc;
}

.table tbody tr:hover {
  background-color: #d6d8db;
}

.car-table-large th,
.car-table-large td {
  vertical-align: middle;
}

.car-table-large img {
  width: 200px;
  height: auto;
}

.table-small {
  display: none;
}

#contact,
#about {
  background-color: var(--color4);
  background-color: rgba(245, 243, 165, 0.8);
  background-color: #c6c9cc;
  text-align: center;
}

#about iframe {
  width: 100%;
  height: 100%;
}

#about > div,
#about {
  display: block;
}

#about > div {
  height: 100%;
  width: 100%;
}

h2 {
  margin-top: 20px;
  text-align: center;
}

.row {
  margin-bottom: 20px;
}

.table-large {
  padding: 0;
}

#cars table {
  margin: 0;
  /* display: none; */
}

.soldPrice {
  color: red;
  font-weight: bold;
  text-decoration: line-through;
}

.soldText {
  color: red;
  font-weight: bold;
  display: block;
}

/* about section */
#hours {
  /* background-color: var(--color4); */
  /* background-color: rgba(245, 243, 165, 0.8); */
  /* background-color: #c6c9cc; */
}

#hours div {
  padding: 0;
}

.hoursblock,
.daysblock {
  display: inline-block;
}

.hoursblock {
  float: right;
}

.daysblock {
  float: left;
}

.hours li {
  background-color: inherit;
}

#contact a {
  text-decoration: auto;
}

#contact h2,
#about h2 {
  margin-top: 20px;
}

.row {
  margin-bottom: 10px;
}

.table-large {
  padding: 0;
}

#map,
#contact {
  text-align: center;
}

#map {
  background-color: #c6c9cc;
  padding-top: 10px;
}

#map iframe {
  width: 100%;
  height: 450px;
  display: block;
  margin-top: 20px;
}

#map div {
  padding: 0;
}

#map h2 {
  margin-top: 0;
}

header.masthead {
  background-size: cover;
  background-attachment: fixed;
}

@media only screen and (max-width: 760px),
  (min-device-width: 760px) and (max-device-width: 1024px) {
  /* force table to not be like tables anymore */
  .table-small,
  .car-table-small,
  .car-table-small thead,
  .car-table-small tbody,
  .car-table-small th,
  .car-table-small td,
  .car-table-small tr {
    display: block;
  }

  .table-small,
  #cars {
    padding: 0;
  }

  .table-large {
    display: none;
  }

  /* hide table headers (not display none; for accessibility reasons */
  .car-table-small thead tr {
    position: absolute;
    top: -9999px;
    left: -9999px;
  }

  .car-table-small td {
    /* behave like a row */
    border: none;
    position: relative;
    padding-left: 50%;
  }

  .car-table-small td:before {
    /*  like a table header */
    position: absolute;
    /* top: 6px; */
    left: 6px;
    width: 45%;
  }

  .car-table-small img {
    width: 250px;
    height: auto;
  }

  .car-table-small td:nth-of-type(1) {
    position: relative;
    padding-left: 20%;
  }

  .car-table-small td:nth-of-type(1):before {
    content: "";
  }
  .car-table-small td:nth-of-type(2):before {
    content: "Year";
  }
  .car-table-small td:nth-of-type(3):before {
    content: "Make";
  }
  .car-table-small td:nth-of-type(4):before {
    content: "Model";
  }
  .car-table-small td:nth-of-type(5):before {
    content: "Milage";
  }
  .car-table-small td:nth-of-type(6):before {
    content: "Transmission";
  }
  .car-table-small td:nth-of-type(7):before {
    content: "Cylinder";
  }
  .car-table-small td:nth-of-type(8):before {
    content: "Price";
  }
  .car-table-small td:nth-of-type(9) {
    background-color: rgb(222, 222, 222);
    border-left-color: rgba(0, 0, 0, 0);
    border-right-color: rgba(0, 0, 0, 0);
  }
  .car-table-small td {
    border: 1px solid #ccc;
  }

  .soldText {
    display: inline;
  }
}
